
.nav {
    display: flex;
    width: 90vw;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;

    &>ul {
        display: flex;
        justify-content: space-around;
        list-style: none;
        width: 90vw;
    }
}

a {
    font-size: 1.2rem;
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
  }
  
  a:hover {
    color: #535bf2;
  }


  /* MEDIA QUERIES PARA ESCRITORIO */
@media only screen and (min-width: 1200px) {
    a {
        font-size: 1.4rem;
    }

}