
@import '../utils/variables.scss';

.searchForm{
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    flex-direction: column;
    width: 50vw;
    text-align: center;
    padding-top: 10vh;
}

.searchForm>input{
    color: $green;
    padding-left: 25%;
    margin-top: 6%;
    border-radius: 5px;
    border: none;
    height: 3vh;
    margin-bottom: 8vh;
    
}

.searchForm>button {
    background-color: $pink;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: $white;
    cursor: pointer;
    display: inline-block;
    height: 5vh;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    margin: 1vh 0;
  
      &:hover{
      background-color: $light-pink;
      }
  }

    /* MEDIA QUERIES PARA ESCRITORIO */
    @media only screen and (min-width: 1200px) {
        .searchForm>button {
            height: 8vh;
            font-size: 1.4rem;
           
        
        }

        .searchForm{
            width: 40vw;
        }

            
        .searchForm>input{
    height: 5vh;
    font-size: 1.2rem;
    padding-left: 35%;
    
        }

    h1{
        font-size: 1.8rem;
        text-align: center;
        margin-top: 10%;
    }
    }