$dark: #50514f;
$red:#f25f5c; 
$yellow:#ffe066;
$dark-blue: #006494;
$green:#70c1b3;
$pink:#EA4C89;
$light-pink:#F082AC;
$white:#FFFFFF;
$type-green:#7ace73;
$type-red:#f30641;
$type-blue:#1464a1;
$type-blue2:#a5f1ff;

// variables for types
$normal:#A8A090;
$fire:#F05030;
$water:#3899F8;
$grass:#78C850;
$electric:#F8D030;
$ice:#58C8E0;
$fighting:#A05038;
$poison:#B058A0;
$ground:#E9D6A4;
$flying:#98A8F0;
$psychic:#F870A0;
$bug:#A8B820;
$rock:#B8A058;
$ghost:#6060B0;
$dragon:#7860E0;
$dark:#7A5848;
$steel:#A8A8C0;
$fairy:#E79FE7;
